*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

:root{
  /* first two colours come from Kuroi's Manga Pallete Palette */
  /* https://lospec.com/palette-list/manga-pallete */
  --col-01:#050306;
  --col-02:#faf8f4;
  --col-03:#bb6d25;
  --col-04:#112232;
  --col-05:#4f8971;
  --col-06:#ce1c10;
  --col-07:#e2cb40;
  --col-08:#47912e;
  --col-09:#902B6B;
  --col-10:#311044;
  --col-11:#329cb0;
  font-size: 16px;
}

.scroll-page {
  display: flex;
}

#modeButton{
  background-color: var(--col-06);
  font-size: 25px;
  font-family: 'Kosugi Maru', sans-serif;
  color: #faf8f4;
  padding: 10px 10px;
  border: none;
  border-radius: 8px;
  position: absolute;
  top: 8px;
  right: 16px;
}

body{
  font-family: 'Kosugi Maru', sans-serif;
  padding: 1rem;
  background-color: var(--col-02);
  color: var(--col-01);
  transition: color 2s;
}

ol{
  text-align: left;
}

ol li{
  color: var(--col-09);
  list-style-type: hiragana;
}

section{
  margin-bottom: 2rem;
}

#harumihosono{
  max-width: 100%;
  height: auto;
  animation-timing-function: ease-in-out;
}

h1{
  font-size: 3rem;
  transition: 4s;
  animation: colourCycle 4s ease-in 1;
  animation-iteration-count: infinite;
}

h1:hover{
  color:var(--col-04);
  transition: 0s;
}

@keyframes colourCycle {
  10%{color: #311044;}
  20%{color: #112232;}
  30%{color: #329cb0;}
  40%{color: #4f8971;}
  50%{color: #47912e;}
  60%{color: #e2cb40;}
  70%{color: #bb6d25;}
  80%{color: #ce1c10;}
  90%{color: #902B6B;}
}

h2{
  font-size: 2rem;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

#biotitle{
  color: var(--col-08);
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

#bandtitle{
  color: var(--col-11);
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}  

#discotitle{
  color: var(--col-03);
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

#comptitle{
  color: var(--col-09);
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

#filmtitle{
  color: var(--col-07);
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

#reftitle{
  color: var(--col-10);
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

#img2008{
  transform: rotateZ(-2deg);
}

p{
  font-size: 1rem;
  margin-top: 1rem;
  transition: 2s;
}

figcaption{
  width: fit-content;
}

dl ul{
  margin-bottom: 0;
}

li{
  font-size: 1rem;
}

dd{
  padding-left: 60px;
}

li ul{
  padding-left: 40px;
}

.img-wrapper{
  width: 100%;
  margin-bottom: 1.5rem;
}

.img-figure{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-img{
  width: 80%;
}

.res-columns{
  column-width: 25rem;
}

/* medium devices 600 - 992 */
@media only screen and (min-width: 600px) {
  :root{
    font-size: 20px;
  }
  
  .img-wrapper{
    width: 75%;
    margin: 1.5rem auto;
  }
}

/* medium devices 992 + */
@media only screen and (min-width: 992px) {
  :root{
    font-size: 24px;
  }

  .img-wrapper{
    max-width: fit-content;
    float: right;
    margin: 1.5rem;
  }
}

@media all and (prefers-reduced-motion){

}